.accordion-section {
    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
background-color: #ccc;
}

.accordion-content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}
