@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

/* GLOBAL STYLES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #3AAFA9;
    padding-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #17252A;
    text-decoration: none;
    transition: 300ms linear;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input,
select,
textarea {
    display: block;
    margin-bottom: 20px;
    background: #DEF2F1;
}

select {
    appearance: none;
}

nav a,
footer a,
.landing-content p,
.resource p,
.resource a,
.resources-grid-container a,
select,
input,
.profile p,
.profile a,
.resource button,
label,
textarea,
footer p,
a,
.project p {
    font-family: serif;    
}

h1,
h2,
h3,
h4,
.resource h2,
.landing-content a,
input[type='submit'],
nav button,
a.add-resource-button,
.actions button,
button,
.log a {
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    margin: 0;
    color: white;
    letter-spacing: 0.06em;
    font-size: 35px;
}

h2 {
    margin-bottom: 40px;
}

button:hover {
    cursor: pointer;
}

footer {
    background-color: #3AAFA9;
    color: white;
    padding: 20px 0;
    text-align: center;
}


/* NAV STYLES */

nav a,
footer a,
nav button {
    font-size: 14px;
}

nav button,
.edit-account button  {
    background:none;
    border: none;
}

nav a:hover,
nav button:hover {
    color: white;
    transition: 300ms linear;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.company-logo {
    align-self: center;
    padding-left: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.company-logo p {
    margin: 0;
}

.log button,
.log a {
    background: #17252A;
    color: white;
    padding: 4px 16px;
    border-radius: 5px;
}

.nav-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}



/* LANDING STYLES */
.landing-content h1 {
    padding-top: 40px;
}

.landing-content p {
    margin: 50px 20px;
}

.get-started {
    border-radius: 5px;
    padding: 12px 16px;
    transition: 200ms linear;
    background: #17252A;
    color: white;
}

.get-started:hover {
    border: 1px solid #17252A;
    color: #17252A;
    background: none;
}




/* DASHBOARD STYLES */
.resources-grid-container {
    background: #3AAFA9;
}

.resources-grid-container select {
    margin-top: 30px;
    box-shadow: 1px 1px 2px #2b7a78;
}

.profile {
    background: #DEF2F1;
    border-radius: 5px;
    padding: 30px 0 100px;
}

.profile-image {
    width: 30%;
    border-radius: 5px;
}

.profile a:hover {
    color:#2b7a78;
}

.content {
    padding: 50px 20px;
    text-align: center;
    min-height: 100vh;
    background-color: #3AAFA9;
}

.resource h2 {
    color: #17252A;
}

.add-resource-button:hover {
    color: #17252A;
    background: none;
}

.add-resource-button{
    background: #17252A;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #17252A;
}

.resources li,
.resource {
    background: #DEF2F1;
    padding: 10px 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    transition: 300ms linear;
    color: #17252A;
}

.resources li:hover {
    cursor: pointer;
    transition: 300ms linear;
    box-shadow: 4px 4px 6px #2b7a78;
}

.completed {
    background: #18d56d;
    box-shadow: 1px 1px 2px rgb(223, 223, 223);
}

.todo {
    background: rgb(255, 0, 0);
    box-shadow: 1px 1px 2px rgb(223, 223, 223);
}

.inprogress {
    background: rgb(230, 176, 0);
    box-shadow: 1px 1px 2px rgb(223, 223, 223);
}

.actions {
    width: 100%;
    margin: 0 auto;
}

.actions button {
    background: none;
    border: none;
    font-size: 16px;
}

.actions button,
.edit {
    align-self: center;
    border: 1px solid #17252A;
    padding: 8px 15px; 
    max-width: 100px;
    border-radius: 5px;
    margin: 0 10px;
}



/* ACCOUNT SETTINGS STYLES */
.edit-account h1 {
    padding-bottom: 30px;
}

.edit-account button {
    border: 1px solid #17252A;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 14px;
    margin: 0 5px;
    transition: 200ms linear;
}

.account,
.project {
    background: #DEF2F1;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.account button,
.project button {
    position: absolute;
    top: 18px;
    right: 12px;
    padding: 6px 10px;
    font-size: 20px;
}

.edit-account .project h3,
.edit-account .account h3 {
    margin: 0;
}

.edit-account .project button,
.edit-account .account button,
.edit-account button:hover {
    background: none;
    color: #17252A;
} 

.save:hover,
.actions button:hover,
.edit:hover,
.edit-account button,
.edit-account .account button:hover,
.edit-account .project button:hover {
    background: #17252A;
    color: white;
    transition: 200ms linear;
}



/* FORMS */
.add-resource,
.edit-resource,
.login-form,
.edit-account {
    padding-top: 50px;
}

.login-form h1 {
    padding-bottom: 40px;
}

.add-resource form,
.edit-resource form,
.login-form form,
.edit-account form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: #17252A;
    padding: 25px 20px 30px;
    color: white;
    border-radius: 5px;
}

.add-resource input,
.add-resource textarea,
.edit-resource input,
textarea,
.login-form input,
.edit-account input,
select {
    padding: 14px 16px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #DEF2F1;
}

input[type='submit'],
.login-form button,
.submit button {
    color: #DEF2F1;
    border: 1px solid #DEF2F1;
    background: #17252A;
    transition: 200ms linear;
}

.login-form button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

input[type='submit']:hover,
.login-form button:hover,
.submit button:hover {
    color: #17252A;
    background: #DEF2F1;
    cursor: pointer;
    transition: 200ms linear;
}

.edit-account-form {
    height: auto;
    opacity: 1;
}

form.hidden {
    margin: 0;
    display: none;
    height: 0px;
    padding:0;
}

.status {
    padding: 6px;
    width:100px;
    margin: 0 auto;
    border-radius: 5px;
    font-family: sans-serif;
}

.edit-account section {
    margin-bottom: 40px;
}

.edit-account h3 {
    margin-top: 50px;
}

.edit-account form {
    margin-top: 30px;
}


@media (min-width: 768px) {
    nav {
        position: fixed;
        width: 100%;
        z-index: 100;
        padding-right: 15px;
    }
    h1 {
        font-size: 50px;
    }
    select {
        width: 100%;
        grid-column: 1 / 3;
    }
    .nav-container {
        grid-template-columns: 3fr 3fr;
    }
    .company-logo {
        padding-left: 50px;
        font-size: 18px;
    }
    .nav-container ul {
        justify-items: center;
    }
    .nav-container a,
    .nav-container button {
        font-size: 16px;        
    }
    .landing-content {
        margin: 0 auto;
        padding-top: 180px;
        width: 70%;
    }
    .landing-content p {
        font-size: 17px;
        width: 80%;
        margin: 40px auto 60px;
    }
    .resources {
        margin-left: 220px;
        padding: 0 20px 0 40px;
    }
    .profile {
        padding-top: 50px;
        position: fixed;
        top: 95px;
        left: -10px;
        width: 250px;
        height: 100vh;
        z-index: 10;
        background: #DEF2F1;
        border-radius: 5px;
    }
    .profile a:hover {
        color: #3AAFA9;
    }
    .resources-grid-container {
        background: #3AAFA9;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: fixed;
        padding: 50px 60px 20px 10px;
        top: 50px;
        right: -20px;
        left: 270px;
        z-index: 20;
    }
    .resources-grid-container h2 {
        justify-self: flex-start;
        align-self: flex-end;
        margin: 0;
    }
    .resources-grid-container .add-resource-button{
        justify-self: flex-end;
    }
    .add-resource form,
    .edit-resource form,
    .edit-account form {
        max-width: 500px;
        padding: 20px;
    }
    .resource {
        position: relative;
        text-align: left;
    }
    li.resource {
        padding: 20px 50px;
    }
    .resource {
        padding: 40px 50px;
    }
    .resource-content {
        padding-top: 200px;
    }
    .status {
        position: absolute;
        text-align: center;
        top: 35px;
        right: 50px;
    }
    .date-completed {
        position: absolute;
        top: 60px;
        right: 50px;
    }
    .actions {
        width: 100%;
        margin: 0;
        align-self: center;
    }
    .actions button {
        margin: 0 20px 0 0;
    }
    .login-form {
        padding-top: 120px;
    }
    .account,
    .project {
        max-width: 450px;
    }
    footer.margin {
        padding-left: 240px;
    }
}
@media (min-width: 1200px) {
    .nav-container {
        grid-template-columns: 3fr 2fr;
    }
    .landing-content {
        width: 60%;
    }
    .edit-account {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .account-settings{
        grid-column: 1 / 3;
    }
    .account,
    .project {
        width: 80%;
    }
    
}